.header {
	background: #071828;
	padding: 15px 0px;
}

.header .container-fluid {
	max-width: 1170px;
}

.header .search-box {
	padding-bottom: 1px;
	border-bottom: 1px solid aliceblue;
	width: 189px;
	margin-left: 50px;
	background: url('../../assets/images/bottom-arrow.svg') no-repeat;
	background-position: center right 12px;
	background-size: 6px;
}

.header .dis-flx {
	display: flex;
	justify-content: space-between;
}

.header .left-content {
	display: flex;
	align-items: center;
}

.header .right-content {
	display: flex;
	align-items: center;
}

.header .c-btn {
	height: 38px;
	color: #fff;
	background-image: linear-gradient(to bottom, #FBB034, #ECCE09);
	font-size: 16px;
	line-height: 38px;
	padding: 0px 25px;
	border-radius: 38px;
	margin-right: 15px;
	font-weight: 500;
	border: 1px solid #FBB034;
}

.header .btn-partnr.c-btn {
	background: #071828;
	border: 1px solid #FBB034;
}

.header .c-btn:hover {
	color: #fff;
}

.header .cart-icon {
	margin-left: 12px;
	margin-right: 20px;
}

.header .sign-tt,
.header .sign-tt:hover,
.header .search-text {
	color: #fff;
	font-size: 16px;
}

/* place -order */
.place-order .container-fluid {
	max-width: 1170px;
}

.place-order .main-flex {
	display: flex;
	align-items: self-start;
	padding: 100px 0px;
}
/* rihgt box */
.place-order .right-box .your-card {
	width: 100%;
}

.place-order .right-box .your-card h3 {
	font-size: 20px;
	text-align: left;
	font-weight: 600;
}

.place-order .right-box .your-card hr {
	height: 4px;
	background: #071828;
	width: 51px;
	display: block;
	border-radius: 4px;
	margin: 0px;
}
.place-order .right-box .pay-box {
	box-shadow: 0px 0px 1px 1px #e6e6e6;
	padding: 20px 17px;
	padding-bottom: 33px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.place-order .right-box .pay-box::before {
	position: absolute;
	bottom: 0px;
	content: "";
	width: 100%;
	height: 15px;
	background: #F7B62B;
	left: 0px;
}

.place-order .right-box .market-name {
	display: block;
	margin-top: 5px;
	margin-bottom: 18px;
	font-size: 14px;
}

.place-order .right-box .market-name a,
.place-order .right-box .market-name a:hover {
	color: #fab033;
}

.place-order .flex-box {
	display: flex;
	align-items: self-start;
	width: 316px;
}

.place-order .flex-box .bdr-roud {
	box-sizing: border-box;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-right: 16px;
	margin-top: 6px;
	background-color: rgb(247, 182, 42);
}

.place-order .flex-box h4 {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0px;
}

.place-order .flex-box .pak {
	font-size: 12px;
	font-weight: 600;
}

.place-order .flex-box .number {
	margin: 0px;
	display: flex;
	background: #fff;
	border: 1px solid #e1e1e1;
	padding: 1px 8px;
	align-items: center;
	border-radius: 24px;
	margin: 0px 19px;
}

.place-order .flex-box .number .minus,
.plus {
	text-align: center;
	color: #FCC020;
	font-weight: 600;
}

.place-order .flex-box .number input {
	height: 18px;
	width: 25px;
	text-align: center;
	font-size: 12px;
	border: none;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	font-weight: 600;
}

.place-order .flex-box .number span {
	cursor: pointer;
}

.place-order .flex-box .price {
	font-size: 14px;
	font-weight: 600;
	color: #071828;
}

.place-order .flex-box2 textarea {
	margin-left: 12px;
	padding: 5px 7px;
	border: 1px solid #eee;
	border-radius: 10px;
	color: #5C6978;
	font-size: 14px;
	width: 100%;
}

.place-order .flex-box2 img {
	margin-top: 5px;
}

.place-order .right-box .pay-box .invoice-box {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 500;
	color: #5C6978;
	border-bottom: 1px solid #D8D8D8;
	padding: 6px 0px;
}

.place-order .right-box .pay-box .invoice-box .price.free {
	color: #f7b62b;
}

.place-order .right-box .pay-box .total-pay {
	font-size: 16px;
	font-weight: 600;
	border-bottom: none;
	color: #071828;
}

.place-order .right-box .pay-box .bt-tt-signin {
	font-size: 12px;
	color: #AFAFAF;
	margin-top: 12px;
	display: block;
	margin-bottom: 18px;
}
/* end right box */

/* card item start */
.place-order .left-box {
	width: 100%;
	margin-right: 30px;
	box-shadow: 0px 1px 2px #b9b3b3;
	border-radius: 8px;
	border: 1px solid #f7b62b;
	margin-bottom: 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.place-order .mycard-item {
	padding-bottom: 20px;
	border-bottom: 1px solid #e3e3e3;
}
.place-order .my-cart-item {
	font-size: 20px;
	text-align: left;
	position: relative;
	font-weight: 600;
	margin-top: 20px;
	margin-left: 17px;
}
.place-order .my-cart-item::after {
	height: 5px;
	position: absolute;
	content: "";
	background: #071828;
	width: 51px;
	display: block;
	border-radius: 4px;
	margin: 0px;
	top: 31px;
}
.place-order .card-list .content-box1 {
	display: flex;
	padding: 20px 17px;
}
.place-order .card-list .img-box {
	width: 110px;
	height: 110px;
	overflow: hidden;
	margin-right: 15px;
	border-radius: 4px;
}
.place-order .card-list .img-box img {
	width: 100%;
}
.place-order .card-list .list-tt {
	color: #071828;
	font-size: 16px;
}
.place-order .card-list .dicrip-1, .card-list .saller-nm {
	font-size: 14px;
}
.place-order .card-list .price {
	font-size: 18px;
	font-weight: 600;
	color: #071828;
}
.place-order .card-list .btm-content {
	padding: 10px 0px;
	border-top: 1px solid #e3e3e3;
	display: flex;
	border-bottom: 1px solid #e3e3e3;
}
.place-order .card-list .btm-content .number {
	margin: 0px;
	display: flex;
	background: #fff;
	border: 1px solid #e1e1e1;
	padding: 1px 8px;
	align-items: center;
	border-radius: 24px;
	margin: 0px 19px;
	width: 62px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
}

.place-order .card-list .btm-content .number .minus,
.plus {
	text-align: center;
	color: #FCC020;
	font-weight: 600;
}

.place-order .card-list .btm-content .number input {
	height: 18px;
	width: 25px;
	text-align: center;
	font-size: 12px;
	border: none;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	font-weight: 600;
}
.place-order .card-list .btm-content button {
	font-size: 14px;
	background: none;
	border: 0px;
	color: #f7b62b;
}
.place-order .card-list .btm-content .number span {
	cursor: pointer;
}
.place-order .place-btn button{
	color: #fff;
	background-image: linear-gradient(to bottom, #FBB034, #ECCE09);
	font-size: 14px;
	line-height: 36px;
	padding: 0px 25px;
	border-radius: 38px;
	margin-right: 25px;
	font-weight: 600;
	border: 1px solid #FBB034;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	-ms-border-radius: 38px;
	-o-border-radius: 38px;
}
.place-btn {
	padding: 20px;
    text-align: right;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 1px #666;
    left: 0px;
}
/* card item start end*/

@media only screen and (max-width: 1024px) {
	.place-order .main-flex {
		display: block;
	}
}
