.btn-box .otp-btn {
	color: #fff;
    background-image: linear-gradient(to bottom, #fbb034, #ecce09);
    font-size: 11px;
    line-height: 25px;
    padding: 0px 26px;
    border-radius: 38px;
    font-weight: 500;
    border: 1px solid #fbb034;
    display: block;
    outline: none;
}

.profile-page .container-fluid{
	max-width: 1170px;
}
.profile-page .flex-tabs {
	display: flex;
}
.profile-page #myTab {
	width: 390px;
	border: 1px solid #e1e1e1;
}
.profile-page #myTabContent {
	padding: 20px 0px;
	border: 1px solid #e1e1e1;
	margin-left: 30px;
	width: 100%;
}
.profile-page .nav-pills .nav-link.active, .profile-page .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #FCC020;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
.profile-page .nav-pills .nav-link {
	color: #071828;
}
.dix-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	border: 1px solid #e1e1e1;
	padding: 20px;
}
.profile-name {
	width: 100%;
}
.profile-name img {
	float: left;
	margin-right: 15px;
	width: 50px;
	border-radius: 50%;
}
.profile-name .name {
	color: #071828;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}
.profile-name .pro-tt1 {
	font-size: 14px;
}
.logout-btn button{
	height: 38px;
	color: #fff;
	background-image: linear-gradient(to bottom, #FBB034, #ECCE09);
	font-size: 16px;
	line-height: 38px;
	padding: 0px 25px;
	border-radius: 38px;
	margin-right: 15px;
	font-weight: 500;
	border: 1px solid #FBB034;
}
.profile-page {
	padding: 50px 0;
}
.profile-page button:focus {
	outline:none;
}
.profile-page #myTab {
	width: 300px;
	border: 1px solid #e1e1e1;
}
.profile-page #myTab .nav-item {
	margin: 10px 0px;
}
/* profile page start here  end*/

/* order-tab */
.order-list .dlt-tt {
	font-size: 20px;
	font-weight: 600;
}
.order-list .dlt-1 {
	display: flex;
	
}
.order-list .img-box img {
	max-width: 100%;
}
.order-list .img-box {
	width: 100px;
	height: 100px;
	overflow: hidden;
}
.order-list .order-dtl1 {
	margin-left: 15px;
}
.order-list .sub-tt {
	font-size: 16px;
	font-weight: 600;
	margin: 0px;
	margin-bottom: 4px;
}
.order-list .address-nm {
	font-size: 12px;
}
.order-list .shop-id {
	font-size: 14px;
}
.order-list .view-dtl {
	border: none;
	background: no-repeat;
	color: #f9b231;
	padding: 0px;
	font-size: 12px;
	font-weight: 600;
}
.order-list .order-list1 {
	padding: 20px;
	width: 100%;
	border: 1px solid #e1e1e1;
	margin-top: 20px;
	border-radius: 4px;
}
.order-list .order-list1 .order-food {
	margin-top: 20px;
}
.order-list .order-list1 .order-food .food-nm{
	font-size: 14px;
	color:#071828;
	margin-left: 10px;

}
.order-list .order-list1 .order-food .btn-box {
	display: flex;
	margin-top: 15px;
}
.order-list .order-list1 .order-food .order-btn{
	height: 38px;
	color: #fff;
	background-image: linear-gradient(to bottom, #FBB034, #ECCE09);
	font-size: 14px;
	line-height: 38px;
	padding: 0px 25px;
	border-radius: 38px;
	margin-right: 15px;
	font-weight: 500;
	border: 1px solid #FBB034;
}
.order-list .order-list1 .help-btn {
	height: 38px;
	color: #FBB034;
	background:none;
	font-size: 16px;
	line-height: 38px;
	padding: 0px 25px;
	border-radius: 38px;
	margin-right: 14px;
	font-weight: 500;
	border: 1px solid #FBB034;
	transition: background 5s ease;
	-webkit-transition: background 5s ease;
	-moz-transition: background 5s ease;
	-ms-transition: background 5s ease;
	-o-transition: background 5s ease;
}
.order-list .order-list1 .help-btn:hover {
	background-image: linear-gradient(to bottom, #FBB034, #ECCE09);
	color:#fff;
	transition: background 5s ease;
	-webkit-transition: background 5s ease;
	-moz-transition: background 5s ease;
	-ms-transition: background 5s ease;
	-o-transition: background 5s ease;	
}

/*  Manage  Addresses */
.add-addresses {

}
.add-addresses .addresses{
	
}
.add-addresses .addresses img {
	width: 16px;
	float: left;
	margin-right: 10px;
}
.add-addresses .sub-tt {
	font-size: 16px;
	font-weight: 600;
	margin: 0px;
	margin-bottom: 4px;
}
.add-addresses .address-nm {
    font-size: 12px;
}
.add-addresses .edit-delt-btn .edit-btn {
	border: none;
	background: no-repeat;
	color: #f9b231;
	padding: 0px;
	font-size: 14px;
	font-weight: 600;
	margin-right: 15px;
}
.add-addresses .addresses-list {
	overflow: hidden;
}
.add-addresses .edit-delt-btn {
	margin-top: 8px;
}
.add-addresses .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 0px;
	margin-left: 0px;
}
.add-addresses .dlt-tt {
	font-size: 20px;
	font-weight: 600;
}
.add-addresses .addresses {
	border: 1px solid #e1e1e1;
	padding: 20px;
	margin-top: 20px;
}

/* manage payments  */
.manage-payment {

}
.manage-payment .row{
	margin: 0px;
}
.manage-payment .dlt-tt {
	font-size: 20px;
	font-weight: 600;
}
.manage-payment .pay-tt {
    font-size: 14px;
    font-weight: 600;
    color: #071828;
}
.manage-payment .wallet-1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	margin-top: 20px;
}
.manage-payment .img-flex {
	display: flex;
	align-items: center;
	
}
.manage-payment .img-flex img {
	width: 36px;
	margin-right: 15px;
	
}
.manage-payment .edit-btn {
	border: none;
	background: no-repeat;
	color: #f9b231;
	padding: 0px;
	font-size: 14px;
	font-weight: 600;
}

/* Kartzo Cash */
.kartzo-cash .row{
	margin: 0px;
}
.kartzo-cash .dlt-tt {
	font-size: 20px;
	font-weight: 600;
}
.kartzo-cash .flex-box-trms {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.kartzo-cash .view-dtl {
	border: none;
	background: no-repeat;
	color: #f9b231;
	padding: 0px;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
.kartzo-cash .kartzo-cash1 {
	padding: 20px;
	border: 1px solid #e1e1e1;
	margin-top: 20px;
	color: #071828;
	text-align: center;
}
.kartzo-cash .kartzo-cash-tt {
	font-size: 12px;
}
.kartzo-cash .total-cash {
	font-size: 30px;
	margin-top: 10px;
	font-weight: 600;
	border-radius: 4px;
}
.kartzo-cash .kartzo-cash2 {
	padding: 20px;
	margin-top: 20px;
	color: #071828;
}
.kartzo-cash .kartzo-eligible-tt {
	font-size: 16px;
	color: #071828;
	font-weight: 600;
}
.kartzo-cash .kartzo-eligible-small-tt {
	font-size: 12px;
}


.kartzo-cash .kartzo-cash2 img {
	float: left;
	margin-right: 20px;
	width: 55px;
}
.kartzo-cash .eligible-box {
	overflow: hidden;
}
 
.how-it-work {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #e4e4e4;
}
.how-it-work .bg-graund {
	width: 40px;
	background: #fff;
	box-shadow: 0px 0px 3px #b9b9b9;
	padding: 11px;
	height: 40px;
	line-height: 40px;
	display: inline-flex;
	border-radius: 25px;
	margin-right: 15px;
}
.how-it-work .icon-text1 {
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.bg-graund img {
	width: 20px;
}
.how-it-work .small-tt {
	font-size: 14px;
}

/* Support tabs start*/
.kartzo-support .row{
	margin: 0px;
}
.kartzo-support .mb-0 > a {
	display: block;
	position: relative;
	font-size: 14px;
	color: #071828;
}
.kartzo-support .mb-0 > a:after {
	content: "\f078"; /* fa-chevron-down */
	font-weight: 600;
	font-family: "Font Awesome 5 Free";
	position: absolute;
	right: 0;
  }
.kartzo-support .mb-0 > a[aria-expanded="true"]:after {
	content: "\f077"; /* fa-chevron-up */
  }
.kartzo-support .dlt-tt {
	font-size: 20px;
	font-weight: 600;
}
.kartzo-support .card {
	margin-top: 10px;
}
.kartzo-support #accordion {
	margin-top: 20px;
}
.kartzo-support .card {
	margin-bottom: 10px;
}
.kartzo-support .card-header {
	background: #fff;
}
.kartzo-support .card-body {
	font-size: 12px;
	padding: 10px 19px;
}
/* Support tabs end*/

.fade.modal-dialog-centered.modal.show {
	padding-right: 17px;
	display: block !important;
	min-height: calc(100% - (1.75rem * 2)) !important;
	display: flex !important;
  }

  .modal-dialog {
	min-width: 768px;
    margin: 1.75rem auto;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}

.deliver {
	justify-content: space-between;
    width: 100%;
    display: flex;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom:none;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-top:none;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.p-box1 .edit-dtle {
    max-width: 100%;
    border: 1px solid #fab132;
    /* border-radius: 8px; */
    margin: auto;
    font-size: 14px;
}
.p-box1 .edit-dtle .add-location {
	color: #fff;
	background-image: linear-gradient(to bottom, #FBB034, #ECCE09);
	font-size: 14px;
	line-height: 36px;
	padding: 0px 25px;
	border-radius: 38px;
	margin-right: 25px;
	font-weight: 600;
	border: 1px solid #FBB034;
	margin-top: 20px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.p-box1 .edit-dtle .form-1 .input-flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
.p-box1 .edit-dtle .form-group, .paymt-opton .form-group {
	position: relative;
	margin-bottom: 1.5rem;
	width: 100%;
}
.p-box1 .edit-dtle .form-control:focus, .paymt-opton .form-control:focus {
	border-bottom: 2px solid #FCBC25;
	box-shadow: none;
	color: #071828;
	border-left: 2px solid #FCBC25;
	border-right: 2px solid #FCBC25;
	border-top: 1px solid #FCBC25;
}
.p-box1 .edit-dtle .form-control, .paymt-opton .form-control {
	border: none;
	border-radius: 0px;
	border: 1px solid #FCBC25;
	box-shadow: none;
	padding: 0px;
	color: #00225b;
	font-size: 14px;
	padding-left: 25px;
	border-radius: 40px;
	height: 40px;
}
.p-box1 .edit-dtle .form-control input, .paymt-opton .form-control input{ 
	border: none;
}
.p-box1 .b-tt {
	color: #071828;
	font-weight: 600;
}
.p-box1 .edit-dtle .form-control-placeholder, .paymt-opton .form-control-placeholder {
	position: absolute;
	top: 8px;
	padding: 7px 0 0 13px;
	transition: all 200ms;
	opacity: 1;
	font-size: 14px;
	padding: 0px;
	left: 20px;
	padding-left: 10px;
	color: #5C6978;
}
.p-box1 .edit-dtle .form-1 {
	margin-bottom: 25px;
}
.p-box1 .edit-dtle .input-box .input-flex img, .paymt-opton .input-box .input-flex img {
	margin: 1px 17px;
	width: 26px;
	margin-top: -18px;
}
.p-box1 .edit-dtle .form-control:focus +  .form-control-placeholder, .p-box1 .edit-dtle .form-control:valid + .form-control-placeholder {
	transform: translate3d(0, -100%, 0);
	opacity: 1;
	font-size: 12px;
	font-weight: bold;
	top: 10px;
	background: #fff;
	padding-left: 10px;
	left: 20px;
	color: #FCBC25;
	padding-right: 10px;
	-webkit-transform: translate3d(0, -100%, 0);
	-moz-transform: translate3d(0, -100%, 0);
	-ms-transform: translate3d(0, -100%, 0);
	-o-transform: translate3d(0, -100%, 0);
}
.p-box1 .edit-dtle .form-control:focus + .form-control-placeholder{
	color: #FCBC25;
}
.p-box1 .edit-dtle .input-flex .date{
		width: 48%;
}
.p-box1 .edit-dtle .select-text {
	font-size: 12px;
	color: #024;
	font-weight: bold;
	position: absolute;
	left: 34px;
	background: #fff;
	padding: 0px 10px;
	top: -9px;
	color: #FCBC25;
}
.p-box1 .edit-dtle textarea {
	padding: 15px 28px !important;
	border-radius: 17px !important;
	height: auto !important;
	resize: none !important;
	overflow: hidden;
	width: 100%;
	font-size: 14px;
	outline: none;
}
.p-box1 .delvy-adres .edit-dtle .adrss-1 {
	padding-left: 13px;
	border: none;
	margin: 20px;
	padding-top: 0px;
	margin-top: 10px;
	padding-bottom: 0px;
}
.p-box1 .edit-dtle .radio-dis {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.p-box1 .edit-dtle .b-tt {
	font-weight: normal;
	padding-left: 28px;
	margin-right: 32px;
}
.p-box1 .save-delivry {
	color: #fff;
	background-image: linear-gradient(to bottom, #FBB034, #ECCE09);
	font-size: 14px;
	line-height: 36px;
	padding: 0px 35px;
	border-radius: 38px;
	margin-right: 25px;
	font-weight: 600;
	border: 1px solid #FBB034;
	display: inline-block;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
}
.p-box1 .btb-text {
	background: none;
	border: none;
	font-weight: 600;
	color: #FCBC25;
	text-transform: uppercase;
}

/* check box end*/

.p-box1 .rdio-box1 {
	display: block;
	position: relative;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 0px;
}
.p-box1 .rdio-box1 input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.p-box1 .rdio-box1 .checkmark {
	position: absolute;
	top: 5px;
	left: 0px;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: 2px solid #979797;
}
.p-box1 .rdio-box1 input:checked~.checkmark {
	background-color: #fff;
	border-color: #f7b62b;
}
.p-box1 .rdio-box1 .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.p-box1 .rdio-box1 input:checked~.checkmark:after {
	display: block;
}
.p-box1 .rdio-box1 .checkmark::after {
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #f7b62b;
}
/* check box */

/* .img-upload input {
    display:none;
}
img.pic {
    width: 100px;
    border-radius: 60px;
}
.imag i.fa.fa-upload.fa-lg {
    font-size: 38px;
}
input#profile {
    pointer-events: none;
}

img.picture {
    height: 75px;
    width: 100px;
    margin-top: 10px;
} */

.file-attach {
	text-align: center;
	padding: 30px 20px;
	border: 1px solid #fab132;
	margin-top: 30px;
}
.file-attach .btn-primary {
	color: #fff;
	background-color: #f7b62b;
	border-color: #f7b62b;
}
.file-attach .btn-file {
	position: relative;
	overflow: hidden;
	height: 110px;
	width: 110px;
	display: block;
	margin: auto;
	border-radius: 100px;
	cursor: pointer !important;
	background-size: 100%;
	background-position: center;
	box-shadow: 0px 1px 9px #b7b7b7;
	border: 3px solid #FD9D00;
}
.file-attach .btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	cursor: pointer !important;
	display: block;
}
.bg-img img {
	max-width: 110px;
    object-fit: cover;
    height: 105px;
}
.bg-img {
	width: 100%;
	height: 100%;
}

.view-order-dtl {

}

.view-order-dtl .order-id {
	font-size: 20px;
	text-align: left;
	position: relative;
	font-weight: 600;
	margin-top: 20px;
}
.view-order-dtl .order-id::after {
	height: 5px;
	position: absolute;
	content: "";
	background: #071828;
	width: 51px;
	display: block;
	border-radius: 4px;
	margin: 0px;
	top: 31px;
}
.view-order-dtl .left-box .card-item p {
	padding-top: 12px;
}
.view-order-dtl .add-address {
	position: relative;
	border-bottom: 1px solid antiquewhite;
}
.view-order-dtl .address-box1 {
	padding-left: 50px;
	position: relative;
	padding-bottom: 25px;
}
.view-order-dtl .small-tt {
	font-size: 14px;
	text-transform: uppercase;
	color: #071828;
}
.view-order-dtl .pickup-location {
	font-size: 14px;
	color: #5C6978;
}
.view-order-dtl .circle-box {
	position: absolute;
	width: 35px;
	height: 35px;
	background: #fff;
	border-radius: 30px;
	border: 2px solid #f7b62b;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.view-order-dtl .icon-dot-bg1 {
	position: absolute;
    top: 2px;
    width: 15px;
    left: 6px
}

.view-order-dtl .delivery-day .icon-right {
	display: flex;
	align-items: center;
}
.view-order-dtl .delivery-dt {
	font-size: 12px;
	padding-left: 10px;
}
.view-order-dtl svg {
	fill: #f7b62b;
}
.view-order-dtl .btn-line {
	height: 1px;
	width: 100%;
	background: #f7b62b;
	margin: 6px 0px;
}
.view-order-dtl .icon-dot-bg2 {
	position: absolute;
	top: -6px;
	width: 20px;
	left: -5px;
	transform: rotate(-90deg);
}
.view-order-dtl .add-address .line-dot-1 {
	box-sizing: border-box;
	position: absolute;
	border-right: 2px dashed #f7b62b;
	left: 17px;
	bottom: 0px;
	top: 0px;
}
.view-order-dtl .add-address .line-dot-2 {
	box-sizing: border-box;
	position: absolute;
	border-right: 2px dashed #f7b62b;
	left: 9px;
	top: 2px;
	height: 34px;
	bottom: auto;
}
.view-order-dtl .top-title {
	padding-bottom: 30px;
}

.view-order-dtl .p-total-item {
	margin-top: 10px;
	color: #fbb132;
	font-weight: bold;
	font-size: 14px;
}
.view-order-dtl .p-item-list {
	padding: 5px 0px;
	
	border-bottom: 1px dotted #fbb132;
}
.view-order-dtl .p-flex-box {
	display: flex;
	position: relative;
	justify-content: space-between;
	padding: 3px 0px;
}
.view-order-dtl .p-list-1 h4 {
	font-size: 15px;
	margin: 0px;
}
.view-order-dtl .p-descri-1 {
	font-size: 14px;
}
.view-order-dtl .p-item-price {
	font-size: 15px;
	text-align: right;
}
.view-order-dtl .p-item-ttl {
	font-size: 15px;
	color: #071828;
}
.view-order-dtl .p-list-total-rupee {
	font-size: 15px;
 }
 .view-order-dtl .p-paid-total {
	padding: 10px 0px;
	border-top: 1px solid #071828;
}
.view-order-dtl .p-list-total-rupee {
	font-size: 15px;
	padding: 10px 0px;
}
.view-order-dtl .p-dis-flx {
	display: flex;
	justify-content: space-between;
}
.view-order-dtl .p-paid-viya {
	font-size: 12px;
}
.view-order-dtl .p-bill-ttl, .p-bill-rupee {
	font-weight: 600;
	color: #071828;
}

.profile-helptab .dlt-tt {
    font-size: 20px;
    font-weight: 600;
}
.profile-helptab .dlt-1 {
	display: flex;
	margin-top: 20px;
}
.profile-helptab .img-box {
	width: 100px;
	height: 100px;
	overflow: hidden;
}
.profile-helptab .img-box img {
	max-width: 100%;
}
.profile-helptab .order-dtl1 {
	margin-left: 15px;
}
.profile-helptab .sub-tt {
	font-size: 16px;
	font-weight: 600;
	margin: 0px;
	margin-bottom: 4px;
}
.profile-helptab .address-nm {
	font-size: 12px;
}
.profile-helptab .shop-id {
	font-size: 14px;
}
.profile-helptab .view-dtl {
	border: none;
	background: no-repeat;
	color: #f9b231;
	padding: 0px;
	font-size: 12px;
	font-weight: 600;
}
.profile-helptab .deliver-day {
	font-size: 14px;
	margin-left: 10px;
}
.profile-helptab .deliver-item {
	margin-top: 10px;
}
.profile-helptab .total-item {
	border-top: 1px dashed #eca630;
	border-bottom: 1px dashed #eca630;
	padding: 10px 0px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

/* help me with this order */
.help-order .row{
	margin: 0px;
}
.help-order .mb-0 > a {
	display: block;
	position: relative;
	font-size: 14px;
	color: #071828;
}
.help-order .mb-0 > a:after {
	content: "\f078"; /* fa-chevron-down */
	font-weight: 600;
	font-family: "Font Awesome 5 Free";
	position: absolute;
	right: 0;
  }
.help-order .mb-0 > a[aria-expanded="true"]:after {
	content: "\f077"; /* fa-chevron-up */
  }
.help-order .dlt-tt {
	font-size: 20px;
	font-weight: 600;
}
.help-order .card {
	margin-top: 10px;
}
.help-order #accordion {
	margin-top: 20px;
}
.help-order .card {
	margin-bottom: 10px;
}
.help-order .card-header {
	background: #fff;
}
.help-order .card-body {
	font-size: 12px;
	padding: 10px 19px;
}
.help-order .dlt-tt {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 0px;
	margin-top: 20px;
}
 .arrow-back {
	width: 20px;
	float: left;
	margin-right: 15px;
}
/* view-order-dtl end */