.header {
	background: #071828;
	padding: 15px 0px;
}
.header .container-fluid {
    max-width: 1170px;
}
.header .search-box {
	padding-bottom: 1px;
	border-bottom: 1px solid aliceblue;
	width: 189px;
	background: url('../../assets/images/bottom-arrow.svg') no-repeat;
	background-position: center right 12px;
	background-size: 6px;
}
.header .dis-flx {
	display: flex;
	 justify-content: space-between;
}
.header .left-content {
	display: flex;
	align-items: center;
}
.header .right-content {
	display: flex;
	align-items: center;
}
.header .c-btn {
	height: 38px;
	color: #fff;
	background-image: linear-gradient(to bottom, #FBB034 , #ECCE09);
	font-size: 16px;
	line-height: 38px;
	padding: 0px 25px;
	border-radius: 38px;
	margin-right: 15px;
    font-weight: 500;
    border: 1px solid  #FBB034 ;
}
.header .btn-partnr.c-btn {
    background: #071828;
    border: 1px solid  #FBB034 ;
}
.header .c-btn:hover {
    color: #fff;
}
.header .cart-icon {
	margin-left: 12px;
	margin-right: 20px;
}
.header .sign-tt ,.header .sign-tt:hover ,.header .search-text{
    color:#fff;
    font-size: 16px;
}
/* curent page name */
.page-name {
	background: #FEECCB;
	color: #929292;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0px;
}
.page-name .container-fluid {
    max-width: 1170px;
}
.page-name .menu-item a{
    color: #929292 !important;
}
.page-name span{
    color: #071828;
}
/* curent page name end */

/* Stores dtl */
.store-dtl {
	position: relative;
	overflow: hidden;
	padding-bottom: 100px;
}
.store-dtl::before {
	position: absolute;
	content: "";
	width: 928px;
	height: 928px;
	border: 147px solid #FEF7EF;
	border-radius: 928px;
	left: -308px;
	top: -193px;
	z-index: -1;
}
.store-dtl .container-fluid {
    max-width: 1170px;
}
.store-dtl .tt-bdr {
    border-bottom:1px solid #E28424 ;
    padding: 15px 0px;
}
.store-dtl .tt-bdr h3 {
	font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
    
}

.store-box {
	padding: 50px;
}
.store-box .box-1 {
	box-shadow: 0px 1px 5px #e8e0e0;
	border-radius: 8px;
	float: left;
    width: 100%;
    background: #fff;
	border: 1px solid #fff;
	padding: 18px 14px;
}
.store-box .col-md-6 {
	margin-top: 65px;
}

.store-box .box-1:hover {
	border: 1px solid #E28424;
}
.store-box .box-1 img {
	float: left;
	margin-top: -50px;
	margin-right: 17px;
}
.store-box .box-text {
	overflow: hidden;
}
.store-box .small-text {
	font-size: 12px;
	color: #707A86;
	margin: 3px 0px;
}
.store-box .big-text {
	font-size: 13px;
	color: #5C6978;
}
.store-box h4 {
	font-size: 16px;
	margin: 0px;
}
/* pagination */
.pagination {
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: .25rem;
	margin-top: 30px;
}
.pagination ul {
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: end;
	width: 100%;
	margin-top: 21px;
}
.pagination ul li{
   list-style: none; 
}
.pagination ul .page-numbr a {
	background-image: linear-gradient(to top, #FBB034 , #ECCE09);
	margin: 0px 5px;
	height: 36px;
	display: block;
	line-height: 36px;
	width: 36px;
	text-align: center;
	border-radius: 36px;
	color: #fff;
	font-weight: 600;
}

.pagination .active .page-link {
	background-color: #FBB034 !important;
    color: #fff !important;
    cursor: pointer;
    border-radius: 36px;
    font-weight: 600;
    width: 36px;
    height: 36px;
	margin: 0px 5px;
	text-align: center;
	display: block;
}
.pagination .page-item .page-link{
	color: #000 !important;
	cursor: pointer;
	border-radius: 36px;
	width: 36px;
	height: 36px;
	margin: 0px 5px;
	text-align: center;
	display: block;
}
.pagination .page-item .page-link:hover{
	background-color: #f8bc53 !important;
	color: #fff !important;
}
.pagination .active .page-link:hover {
	background-color: #f8bc53 !important;
	color: #fff !important;
  }


/* Stores dtl end*/

@media only screen and (max-width: 991px) {
	.store-box .box-1 img {
		margin-top: -35px;
		margin-right: 17px;
		width: 94px;
	}
	.store-box .col-md-6 {
		margin-top: 40px;
	}
	.pagination ul {
		justify-content: center;

	}
	.store-box {
		padding: 0px;
		padding-top: 30px;
	}
}
@media only screen and (max-width: 768px) {
	.pagination ul .page-numbr a {
		height: 25px;
		line-height: 25px;
		width: 25px;
		text-align: center;
		font-size: 14px;
	}
	.page-name{
		display: none;
	}
	.store-box .col-md-6 {
		margin-top: 30px;
	}
	.store-dtl .prev a img, .store-dtl .next a img{
		height: 14px;
		margin-right: 5px;
		margin-left:5px ;
	}
	/* title text */
	.about-bnr .tt1,
	.about-one-app .tt1 {
		font-size: 25px;
	}
	.about-bnr,
	.about-section-2,
	.about-one-app,
	.footer {
		padding: 30px 0;
	}
	/* p all text */
	.store-dtl .small-text{
		font-size: 14px;
	}
	/* sub title */
	.store-dtl .tt-bdr h3 {
		font-size: 16px;
		font-weight: 600;
	}
	.store-box .box-1 {
		padding: 12px 12px;
	}
	.store-box h4 {
		font-size: 12px;
		font-weight: 600;
	}
	.store-box .box-1 img {
		margin-top: -20px;
		margin-right: 17px;
		width: 77px;
	}

	
}


/** react select search css*/

/**
 * Main wrapper
 */
 .select-search {
	flex-basis: 55%;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    margin-left: 30px;
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}

/**
 * Value wrapper
 */
.select-search__value {
    position: relative;
    z-index: 1;
}

.left-content .select-search__value::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 7px);
    right: 17px;
    width: 8px;
    height: 8px;
}

/**
 * Input
 */
.select-search__input {
    display: block;
    height: 36px;
    width: 100%;
	padding: 0 16px 0px 22px;
	color: #fff !important;
	border: none;
	background-color: transparent !important;
    /* box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15); */
    border-radius: 0px;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 36px;
	-webkit-appearance: none;
	border-bottom: 1px solid #fbb132;
}

.select-search__input:focus 
{
	box-shadow: none !important;
	outline: 0 !important;
	border-bottom: 1px solid #fbb132 !important; 
}
.find-map-icon{
	position: absolute;
    top: calc(50% - 12px);
    left: 28px;
}
.map-icon 
{
	color: #fbb132;
}
.select-search__input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.select-search__input:not([readonly]):focus {
    cursor: initial;
}

/**
 * Options wrapper
 */
.select-search__select {
    background: #fff;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    display: block !important;
}

/**
 * Options
 */
.select-search__options {
    list-style: none;
    position: relative;
    padding: 0px;
    background: #fbb132;
    
    
    z-index: 121212;
}

/**
 * Option row
 */
.select-search__row:not(:first-child) {
    border-top: 1px solid #eee;
}

/**
 * Option
 */
.select-search__option {
    /* display: block; */
    height: 36px;
    width: 100%;
    padding: 0px 10px;
    background: #fff;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    color: #000000;
    font-weight: 500;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select-search--multiple .select-search__option {
    height: 48px;
}

.select-search__option.is-selected {
    /* background: #2FCC8B; */
    color: #000;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
    background: #fbb132;
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
    background: #fbb132;
    color: #000;
}

/**
 * Group
 */
/* .select-search__group-header {
    font-size: 10px;
    text-transform: uppercase;
    background: #eee;
    padding: 8px 16px;
} */

/**
 * States
 */
.select-search.is-disabled {
    opacity: 0.5;
}

/* .select-search.is-loading .select-search__value::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-size: 11px;
} */

.select-search:not(.is-disabled) .select-search__input {
    cursor: pointer;
}

/**
 * Modifiers
 */
.select-search--multiple {
    border-radius: 3px;
    overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
    transform: rotate(45deg);
    border-right: 2px solid #fbb132;
    border-bottom: 2px solid #fbb132;
    pointer-events: none;
}

.select-search--multiple .select-search__input {
    cursor: initial;
}

.select-search--multiple .select-search__input {
    border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
    cursor: default;
}

/* .select-search:not(.select-search--multiple) .select-search__input:hover {
    border-color: #2FCC8B;
} */


.select-search:not(.select-search--multiple) .select-search__select {
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 0;
    left: 0;
    border-radius: 3px;
    overflow: auto;
    max-height: 360px;
    text-align: left;
}

.select-search--multiple .select-search__select {
    position: relative;
    overflow: auto;
    max-height: 260px;
    border-top: 1px solid #eee;
    border-radius: 0 0 3px 3px;
}

.search_right_one 
{
    display: flex;
    align-items: center;
}

.collect-money 
{
    padding: 10px !important;
    font-size: 13px !important;
}

.merchant_img{
    height: 100px;
	width: 100px;
	border-radius: 8px;
}


.css-1qtlriq-SkeletonTheme .react-loading-skeleton {
    background-color: #eee !important;
    background-image: linear-gradient( 90deg,#eee,#eee,#eee ) !important;
}

.nodata {
	text-align: center;
	margin-top: 110px;
}