.order-confirm .container-fluid {
	max-width: 800px;
}
.order-confirm {
	padding-top: 50px;
}
.order-confirm .user-name {
	color: #071828;
	font-size: 18px;
}
.order-confirm .bg-box {
	background: #fff;
	box-shadow: 0px 0px 2px #c1c1c1;
	padding: 30px 0px;
	padding-bottom: 0px;
}
.order-confirm .order-content {
	padding: 0px 30px;
}
.order-confirm .order-content2 {
	padding: 20px 30px;
	background: #fafafa;
	display: flex;
	justify-content: space-between;	
}
.order-confirm .order-tt {
	display: flex;
	flex-direction: column;
}
.order-confirm .order-confm {
	font-size: 20px;
	font-weight: normal;
	color: #fbb132;
	margin-top: 15px;
	margin-bottom: 15px;
}
.order-confirm .order-confm svg {
	fill: #fbb132;
	width: 20px;
	margin-right: 11px;
	height: 20px;
}
.order-confirm .manage-order-btn {
	height: 38px;
	color: #fff;
	background-image: linear-gradient(to bottom, #FBB034, #ECCE09);
	font-size: 16px;
	line-height: 38px;
	padding: 0px 25px;
	border-radius: 38px;
	margin-right: 15px;
	font-weight: 500;
	border: 1px solid #FBB034;
	width: 260px;
	margin-top: 14px;
}
.order-confirm .order-tt2 {
	display: flex;
	flex-direction: column;
	flex-basis: 35%;
}
.order-confirm .text-box1 {
	display: flex;
	justify-content: space-between;
}
.order-confirm .text1 {
	flex-basis: 50%;
	text-align: end;
}
.order-confirm .text-box2 {
	color: #071828;
	font-weight: 600;
}
.order-confirm .order-content3 {
	padding: 20px 30px;
	background: #fafafa;
}
.order-confirm .order-content3 {
	padding: 20px 30px;
	background: #fafafa;
	height: 400px;
	overflow: auto;
}
.order-confirm .img-product {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 15px;
}
.order-confirm .product-tt {
	margin: 0px;
}
.order-confirm .img-product img{
	max-width: 100%;
	border-radius: 5px;
}
.order-confirm .price-box {
	color: #f9b22f;
	font-weight: bold;
}
.order-confirm .product-1 {
	border-top: 1px solid #cecece;
	padding: 15px 0px;
	clear: both;
}
.order-confirm .right-content {
    position: absolute;
    top: 0px;
    right: 0px;
}
.content-product {
	position: relative;
}
@media only screen and (max-width: 768px) {
	.order-confirm .order-content2 {
		display: block;
	}
	.order-confirm .text1 {
		flex-basis: auto;
		text-align: end;
	}
	.order-confirm .order-tt2 {
		margin-top: 20px;
	}
	.order-confirm .text-box1 {
		padding-bottom: 10px;
		
	}
	
}
/* You order is confirmed */