.banners-home {
  position: relative;
  background-image: linear-gradient(to top, #fbb034, #ecce09);
  padding: 130px 0px;
  text-align: center;
  overflow: hidden;
}

.banners-home::before {
  position: absolute;
  content: "";
  background: url("../../../assets/images/home-banner.png") no-repeat;
  width: 1140px;
  background-size: 1140px 430px !important;
  width: 11;
  height: 430px;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 0px;
}

.banners-home .slider-box {
  position: relative;
}

.banners-home h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 15px;
}

.banners-home p {
  color: #fff;
  font-size: 16px;
}

.banners-home .src-location {
  background: #fff;
  max-width: 540px;
  margin: auto;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  overflow: hidden;
  box-shadow: 0px 1px 5px #919191;
}

.banners-home .src-location input {
  background: url("../../../assets/images/track-location.svg") #fff no-repeat;
  border: none;
  background-position: center left 18px;
  background-size: 20px;
  text-indent: 52px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #13253b;
  /* opacity: 1 !important; */
}

.banners-home .src-location button {
  background: #071828;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 0px 30px;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 768px) {
  .banners-home {
    padding: 30px 0;
  }
  /* title text */

  .banners-home h1 {
    font-size: 25px;
  }

  /* p all text */
  .banners-home p,
  .banners-home .src-location button {
    font-size: 14px;
  }

  /* sub-title */

  .banners-home .slider-box {
    position: relative;
    padding: 0px 15px;
  }
  .banners-home::before {
    opacity: 0.5;
  }

  .banners-home .src-location {
    background: none;
    box-shadow: none;
    max-width: 540px;
    height: auto;
    text-align: center;
    border-radius: 0px;
    display: block;
    justify-content: space-between;
    overflow: visible;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }

  .banners-home .src-location input {
    height: 40px;
    box-shadow: 0px 1px 5px #919191;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
  .banners-home .src-location button {
    background: #071828;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 10px 30px;
    margin-top: 30px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
}
